fastmcp
synexa
pytest
pytest-asyncio
anyio
sniffio
typing_extensions
exceptiongroup
httpx
idna
pydantic
pydantic_core
typing_inspection
uvicorn
click
mcp
annotated_types
httpx_sse
pydantic-settings
python-dotenv
starlette
sse_starlette
rich
pygments
websockets
h11
httpcore
certifi
openai
distro
boto3
botocore
jmespath
python-dateutil
six
urllib3
jiter
s3transfer